---
import About from "@components/sections/About.astro";
import Contact from "@components/sections/Contact.astro";
import Experience from "@components/sections/Experience.astro";
import Hero from "@components/sections/Hero.astro";
import Languages from "@components/sections/Languages.astro";
import Projects from "@components/sections/Projects.astro";
import Skills from "@components/sections/Skills.astro";
import Layout from "@layouts/Layout.astro";

import { getI18NData, getLangFromUrl } from "@utils/i18n";

export async function getStaticPaths() {
  // Define the languages you want to support
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
let currentLocale = getLangFromUrl(canonicalURL);
let locales = ["es", "en"];
const { title, description } = getI18NData(Astro.currentLocale);
---

<Layout
  title={title}
  description={description}
  ogImage="https://ik.imagekit.io/0oguwfou0i/yi-printable-portfolio?updatedAt=1707175630120"
>
  <Fragment slot="head">
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />
    <!-- Alternate Links -->
    {
      locales
        .filter((locale) => locale !== currentLocale)
        .map((locale) => {
          return (
            <link
              rel="alternate"
              href={canonicalURL.href.replace(currentLocale, locale)}
              hreflang={locale}
            />
          );
        })
    }
    <link
      rel="alternate"
      href="https://yidev.vercel.app"
      hreflang="x-default"
    />
  </Fragment>
  <main slot="default-slot" class="container mx-auto p-4 sm:pt-16 print:p-0">
    <Hero />
    <Contact />
    <About />
    <Experience />
    <Languages />
    <!-- <Education /> -->
    <Skills />
    <Projects />
  </main>
</Layout>
