---
import About from "@components/sections/About.astro";
import Contact from "@components/sections/Contact.astro";
import Education from "@components/sections/Education.astro";
import Experience from "@components/sections/Experience.astro";
import Hero from "@components/sections/Hero.astro";
import Languages from "@components/sections/Languages.astro";
import Projects from "@components/sections/Projects.astro";
import Skills from "@components/sections/Skills.astro";
import Layout from "@layouts/Layout.astro";

import { getI18NData } from "@utils/i18n";

export async function getStaticPaths() {
  // Define the languages you want to support
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const { title, description } = getI18NData(Astro.currentLocale);
---

<Layout
  title={title}
  description={description}
  ogImage="https://ik.imagekit.io/0oguwfou0i/yi-printable-portfolio?updatedAt=1707175630120"
>
  <main class="container mx-auto p-4 sm:p-16 print:p-0">
    <Hero />
    <Contact />
    <About />
    <Experience />
    <Languages />
    <Education />
    <Skills />
    <Projects />
  </main>
</Layout>
