---
//@ts-nocheck
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { getCasos } from "@utils/i18n";
import { render } from "astro:content";

export async function getStaticPaths() {
  const locales = ["es", "en"];
  const rutas = await Promise.all(
    locales.map(async (locale) => {
      let casossAsync = await getCasos(locale);

      return casossAsync.map((caso) => ({
        params: { locale, id: caso.slug },
        props: { caso }
      }));
    })
  );
  return rutas.flat();
}
const { caso } = Astro.props;
const { data, slug } = caso;
const { title, author, img, description } = data;

const { Content } = await render(caso);
export const prerender = true;
---

<Layout
  title="caso de estudio..."
  description="Hire yidev27 To create your Website. App and Websites Developer. Committed to boost technological advancement, my focus is on leading entrepreneurs and small business owners towards new perspectives of success in the digital field. Providing knowledge and strategies to stand out and thrive in the technological world."
  ogImage="https://ik.imagekit.io/0oguwfou0i/yi-printable-portfolio?updatedAt=1707175630120"
>
  <Section classes={"p-4 sm:p-16"}>
    <div
      class="prose prose-sm prose-invert -z-20 max-w-none tracking-wider sm:prose-base prose-a:text-[rgb(106,190,251)] hover:prose-a:text-sky-700 prose-strong:font-normal max-sm:prose-h1:text-2xl"
    >
      <h1
        class="relative -z-10 text-balance text-center"
        transition:name={`title-${slug}`}
      >
        {title}
      </h1>
      <Content />
    </div>
  </Section>
</Layout>
