---
import Section from "@components/Section.astro";

import { getI18N, getLangFromUrl } from "../../utils/i18n";
const { basics } = getI18N(Astro.currentLocale);
const { summary } = basics;
const lang = getLangFromUrl(Astro.url);
---

<Section title={lang === "" ? "About Me" : `Sobre mí`}>
  <p class="leading-tight">{summary}</p>
</Section>
