---
import Section from "@components/Section.astro";
import { hardSkills } from "@data/cv.json";
import { getLangFromUrl } from "../../utils/i18n";
const lang = getLangFromUrl(Astro.url);
---

<Section title={lang === "" ? "Skills" : `Habilidades`}>
  <ul class="inline-flex flex-wrap gap-2">
    {
      hardSkills.map(({ name }) => (
        <li class="rounded-md bg-[#202020] px-[0.6rem] py-[0.2rem] text-sm font-medium  print:bg-stone-200/80">
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
