---
import Translate from "@components/icons/translate.astro";
import { getLangFromUrl } from "@utils/i18n";

const lang = getLangFromUrl(Astro.url);
const url = lang === "" ? "/es" : "/";
---

<div class="fixed right-5 top-5 print:hidden">
  <a
    href={url}
    title={`${lang === "" ? "Traducir al Español" : " Translate to English"}`}
    class="flex items-center gap-1 text-3xl uppercase text-white/80 hover:text-white"
  >
    <Translate classes="size-7 mt-[2.5px] text-inherit pointer-events-none" />
    {lang === "" ? "Es" : "En"}
  </a>
</div>
