---
const { title, classes } = Astro.props;
---

<section class:list={["mx-auto mb-12 max-w-[700px]", classes]}>
  {
    title && (
      <h2 class="mb-2 text-3xl font-bold print:text-stone-700/90">{title}</h2>
    )
  }
  <slot />
</section>

<style></style>
