---
const { classes } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  class={classes}
>
  <title>translate</title>
  <path
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="m19.06 18.6699-2.14-4.27-2.14 4.27M15.1699 17.9099h3.52"></path><path
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M16.9201 22.0001c-2.8 0-5.08-2.2701-5.08-5.0801 0-2.8 2.27-5.0799 5.08-5.0799 2.8 0 5.08 2.2699 5.08 5.0799 0 2.81-2.27 5.0801-5.08 5.0801ZM5.02 2h3.92c2.07 0 3.07 1.00002 3.02 3.02002V8.94c.05 2.07-.95 3.07-3.02 3.02H5.02C3 12 2 11 2 8.92999V5.01001C2 3.00001 3 2 5.02 2ZM9.00995 5.84985h-4.06M6.96997 5.16992v.67999"
  ></path><path
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M7.98994 5.83984c0 1.75-1.37 3.16999-3.05 3.16999"></path><path
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="1.5"
    d="M9.0099 9.01001c-.73 0-1.38999-.39001-1.84999-1.01001M2 15c0 3.87 3.13 7 7 7l-1.05-1.75M22 9c0-3.87-3.13-7-7-7l1.05 1.75"
  ></path></svg
>
