---
import BaseHead from "@components/BaseHead.astro";
import LanguageSwitcher from "@components/LanguageSwitcher.astro";

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="relative max-xs:pb-14">
    <slot />
    <LanguageSwitcher />
    <div
      id="noise"
      class="pointer-events-none fixed inset-0 before:absolute before:inset-0 before:bg-repeat before:opacity-10"
    >
    </div>
  </body><!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZP7PVPZNQ3"
  ></script>
  <script>
    //@ts-nocheck
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-ZP7PVPZNQ3");
  </script>
</html>
