---
import BaseHead from "@components/BaseHead.astro";
import LanguageSwitcher from "@components/LanguageSwitcher.astro";

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="relative">
    <slot />
    <LanguageSwitcher />
  </body>
</html>
